<div id="acceptTermsField" class="o-forms-field ncf__validation-error" data-validate="required,checked" {{#if isSignup}}data-trackable="sign-up-terms"{{/if}}{{#if isRegister}}data-trackable="register-up-terms"{{/if}}>
	<h2 className="ncf__header">Terms &amp; Conditions</h2>
	<ul class="o-typography-list o-typography-list--unordered">
		<li>
			{{#if isB2b }}
				<p id="terms-b2b">
					By submitting this form, you indicate your consent to also being contacted by Financial Times by email, post, or phone about our other products, services or special offers unless you untick this box.
				</p>
			{{else}}
				<p id="terms-default">
					I confirm I am {{#if ageRestriction}}{{ageRestriction}}{{else}}16{{/if}} years or older and have read and agree to the
					<a class="ncf__link--external" href="http://help.ft.com/help/legal-privacy/terms-conditions/" target="{{#if isEmbedded}}_top{{else}}_blank{{/if}}" rel="noopener noreferrer" data-trackable="terms-and-conditions">Terms &amp; Conditions</a>.
				</p>
			{{/if}}
		</li>
		
		{{#if isCorpSignup}}
			<li>
				<p>Your organisation’s administrator(s) may view basic usage and profile data about your account and have the ability to set up myFT topic follows on your behalf.</p>
			</li>
			<li>
				<p>Basic usage and profile data about your account can include; for example, your job title and profile information, the date you last visited, volume of content consumed, etc.</p>
			</li>
			<li>
				<p>myFT topics may be selected on your behalf by your company administrator or FT representative for you to follow. You can unfollow these topics or unsubscribe from the myFT digest through the Contact preferences section on myFT.</p>
			</li>
			{{#if isTrial}}
				<li>
					<p>This trial is to demonstrate the value of a group subscription and we’ll contact you during your trial.</p>
				</li>
			{{/if}}
		{{/if}}
		
		{{#if isTransition}}
			<li>
				<p>I give consent for my chosen payment method to be charged automatically at the end of each subscription term until I cancel it by contacting <a class="ncf__link--external" href="https://help.ft.com/help/contact-us/" target="_blank" rel="noopener noreferrer">customer service through chat, phone or email</a>.</p>
			</li>
			{{#ifEquals transitionType 'immediate'}}
				<li>
					<p>By placing my order, my subscription will start immediately. Cancellation notice would take effect at the end of the subscription period and previously paid amounts are non-refundable.</p>
				</li>
			{{else}}
				<li>
					<p>By placing my order, I acknowledge that my subscription will start on the date given above. Any cancellation notice received after that date will take effect at the end of my subscription term and previously paid amounts are non-refundable.</p>
				</li>
			{{/ifEquals}}
			<li>
				<p>Find out more about our cancellation policy in our <a class="ncf__link--external" href="http://help.ft.com/help/legal-privacy/terms-conditions/" target="_blank" rel="noopener noreferrer">Terms &amp; Conditions</a>.</p>
			</li>
		{{/if}}
		
		{{#if isSignup}}
			{{#if isPrintProduct}}
				<li>
					<p>Credit for delivery suspensions is only available for hand-delivered subscriptions and is limited to a maximum of 24 issues per yearly subscription terms (4 issues per yearly FT Weekend subscription term).</p>
				</li>
				<li>
					<p>Find out more about your delivery start date in our <a class="ncf__link--external" href="http://help.ft.com/help/legal-privacy/terms-conditions/" target="{{#if isEmbedded}}_top{{else}}_blank{{/if}}" rel="noopener noreferrer">Terms &amp; Conditions</a>.</p>
				</li>
			{{else}}
				<li>
					<p>I give consent for my chosen payment method to be charged automatically at the end of each subscription term until I cancel it by contacting <a class="ncf__link--external" href="https://help.ft.com/help/contact-us/" target="{{#if isEmbedded}}_top{{else}}_blank{{/if}}" rel="noopener noreferrer">customer service through chat, phone or email</a>.</p>
				</li>
				<li>
					<p>By placing my order, my subscription will start immediately. Cancellation notice would take effect at the end of the subscription period and previously paid amounts are non-refundable.</p>
				</li>
				<li>
					<p>Find out more about our cancellation policy in our <a class="ncf__link--external" href="http://help.ft.com/help/legal-privacy/terms-conditions/" target="{{#if isEmbedded}}_top{{else}}_blank{{/if}}" rel="noopener noreferrer">Terms &amp; Conditions</a>.</p>
				</li>
			{{/if}}
			{{#if specialTerms}}
				<li>
					<p id="terms-special">{{specialTerms}}</p>
				</li>
			{{/if}}
		{{/if}}
		
	</ul>
	<label class="o-forms-input o-forms-input--checkbox{{#if hasError}} o-forms-input--invalid{{/if}}">
		<input type="checkbox" name="termsAcceptance" value="true" data-trackable="field-terms" aria-required="true" required {{#if isChecked}}checked{{/if}} />
		<span class="o-forms-input__label">
			I agree to the terms &amp; conditions.
		</span>
	</label>
	<p class="o-forms-input__error">Please accept our terms &amp; conditions</p>
</div>
