<label id="billingCityField" class="o-forms-field ncf__validation-error" data-validate="required" for="billingCity">
	<span class="o-forms-title">
		<span class="o-forms-title__main">Billing city/town</span>
	</span>
	<span class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}">
		<input type="text" id="billingCity" name="billingCity"
			data-trackable="field-billingCity"
			autocomplete="address-level2"
			placeholder="e.g. Bath"
			maxLength=40
			aria-required="true" required
			{{#if isDisabled}}disabled{{/if}}
			value="{{value}}"
		/>
		<span class="o-forms-input__error">Please enter a valid city or town</span>
	</span>
</label>
