<div id="cityTownField"
		class="o-forms o-forms--wide ncf__field js-field{{#if hasError}} o-forms--error{{/if}}"
		data-ui-item="form-field"
		data-ui-item-name="cityTown"
		data-validate="required">

	<label for="cityTown" class="o-forms__label">City/town</label>
	<input type="text" id="cityTown" name="cityTown" value="{{value}}"
				class="o-forms__text js-field__input js-item__value"
				data-trackable="field-cityTown"
				autocomplete="address-level2"
				placeholder="e.g. Bath"
				aria-required="true" required
				{{#if isDisabled}}disabled{{/if}}>

</div>
