<label
	id="companyNameField"
	class="o-forms o-forms--wide{{#if isHidden}} ncf__is-hidden{{/if}}"
	data-validate="required"
>
	<span class="o-forms-title">
		<span class="o-forms-title__main">Company name</span>
	</span>

	<span
		class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}"
	>
		<input type="text" id="companyName" name="company" value="{{ value }}"
		placeholder="Enter your company name" aria-required="true" required
		{{#if isDisabled}}disabled{{/if}}>

		<span class="o-forms-input__error">Please enter your company name.</span>
	</span>
</label>
