<label id="companyNameField" class="o-forms-field" data-validate="required">

	<span class="o-forms-title">
		<span class="o-forms-title__main">Company name</span>
	</span>

	<span class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}">
		<input type="text" id="companyName" name="company" placeholder="Enter your company name"
			autocomplete="organization"
			data-trackable="company-name"
			aria-required="true" required
			{{#if isDisabled}}disabled{{/if}}
			value="{{value}}" />
		<span class="o-forms-input__error">Please enter your company name.</span>
	</span>
</label>
