<div class="ncf ncf__wrapper">
	<div class="ncf__center">
		<div class="ncf__icon ncf__icon--tick ncf__icon--large"></div>
		<p class="ncf__paragraph--reduced-padding ncf__paragraph--subscription-confirmation">You are now subscribed to:</p>
		<h1 class="ncf__header ncf__header--confirmation">{{offer}}</h1>
	</div>

	<p class="ncf__paragraph">
		We've sent confirmation of your new subscription to {{#if email}}{{email}}{{else}}your email{{/if}}.
		Here's a summary of your {{offer}} subscription:
	</p>


	{{#if details}}
	<h2 class="ncf__header2--afterline">Your billing details</h2>
	<dl class="ncf__list">
		{{#each details as |detail|}}
		<dt class="ncf__list-title">{{detail.title}}</dt>
		<dd class="ncf__list-data">{{detail.data}}</dd>
		{{/each}}
	</dl>
	{{/if}}


	{{#if directDebitMandateUrl}}
		<div>
			<p class="ncf__paragraph--reduced-padding">Download your <a href={{directDebitMandateUrl}} data-trackable="dd-mandate-link" id="encryptedMandateLink">direct debit mandate</a><i class="ncf__icon-download"></i></p>
		</div>
	{{/if}}

	<div class="ncf__headed-paragraph">
		<h3 class="ncf__header">Something not right?</h3>
		<p class="ncf__paragraph">
			Go to your <a class="ncf__link" href="https://myaccount.ft.com/details/core/view" target="_blank" rel="noopener" data-trackable="yourAccount">account settings</a> to view or edit
			your account. If you need to get in touch call us on <a href="tel:+442077556248" class="ncf__link--external">+44 (0) 207 755 6248</a>. Or contact us for additional support.
		</p>
	</div>
	<p class="ncf__paragraph">
		We will automatically renew your subscription using the payment method provided unless you cancel before your renewal date.
		See our <a class="ncf__link ncf__link--external" href="http://help.ft.com/help/legal-privacy/terms-conditions/" target="_top" rel="noopener">Terms &amp; Conditions</a> for details on how to cancel.
	</p>
	<p class="ncf__center">
		<a href="/signup/newsletters" class="ncf__button ncf__button--submit">Start exploring</a>
	</p>
</div>
