<label id="countryField" class="o-forms-field js-unknown-user-field" data-validate="required" for="country">
	<span class="o-forms-title">
		<span class="o-forms-title__main">Country{{#if isB2b}}/Region{{/if}}</span>
	</span>

	{{#ncf-countries value=value filterList=filterList}}
	<span class="o-forms-input o-forms-input--select{{#if hasError}} o-forms-input--invalid{{/if}}">
		<select id="country" aria-required="true" required
			name="country"
			data-trackable="field-country"
			{{#if isDisabled}}disabled{{/if}}>

			<option {{#if disableInstruction}}disabled=true{{/if}} value>Please select a country{{#if isB2b}}/region{{/if}}</option>
			{{#each countries as |country|}}
				{{#if this.label}}
				<optgroup label="{{country.label}}">
					{{#each country.countries as |country|}}
					<option value="{{country.code}}"{{#if selected}} selected{{/if}}>{{country.name}}</option>
					{{/each}}
				</optgroup>
				{{else}}
				<option value="{{country.code}}"{{#if selected}} selected{{/if}}>{{country.name}}</option>
				{{/if}}
			{{/each}}
		</select>
		<span class="o-forms-input__error">Please select your country{{#if isB2b}}/region{{/if}}</span>
	</span>
	{{/ncf-countries}}
</label>
