<label id="countryField" class="o-forms-field o-forms-field--wide" data-validate="required">

	<span class="o-forms-title">
		<span class="o-forms-title__main">
			{{#if isBillingCountry}}Billing Country{{else}}Country{{/if}}
		</span>
	</span>

	<span class="o-forms-input o-forms-input--select{{#if hasError}} o-forms-input--invalid{{/if}}">
	{{#ncf-countries value=value filterList=filterList}}
		<select id="country" class="js-field__input js-item__value" aria-required="true" required
			{{#if isBillingCountry}}
			name="billingCountry"
			data-trackable="field-billing-country"
			{{else}}
			name="country"
			data-trackable="field-country"
			{{/if}}
			{{#if isDisabled}}disabled{{/if}}
		>

			<option value>Please select a country</option>
			{{#each countries as |country|}}
				{{#if this.label}}
				<optgroup label="{{country.label}}">
					{{#each country.countries as |country|}}
					<option value="{{country.code}}"{{#if selected}} selected{{/if}}>{{country.name}}</option>
					{{/each}}
				</optgroup>
				{{else}}
				<option value="{{country.code}}"{{#if selected}} selected{{/if}}>{{country.name}}</option>
				{{/if}}
			{{/each}}
		</select>
	{{/ncf-countries}}

		<span class="o-forms-input__error">Please select your country</span>
	</span>
</label>
