<div class="ncf__wrapper ncf__center">

	<div class="ncf__paragraph">
		<h1 class="ncf__header">{{#if header}}{{header}}{{else}}Sorry, this is not available online{{/if}}</h1>
		<p id="customer-care-message">{{#if message}}{{message}}{{else}}Speak now to our Customer Care team to discuss your options{{/if}}</p>
	</div>

	<div class="ncf__paragraph ncf__customer-care">
		<div class="ncf__paragraph">
			<div class="ncf__icon ncf__icon--phone ncf__icon--large"></div>
		</div>
		<p>International Toll Free Number</p>
		<a id="customer-care-internation-number" class="ncf__header ncf__link" href="tel:+80007056477">+ 800 0705 6477</a>
	</div>

	<div class="ncf__paragraph">
		<a class="ncf__link" href="https://help.ft.com/help/contact-us/">Find a local phone number</a>
	</div>

</div>
