{{!-- Debug Panel for working with Conversion Forms --}}
{{#ifSome isTest showHelpers}}
<div class="ncf__debug-panel">
	<div class="ncf__debug-environment">
		{{#if isTest}}
		<span class="o-labels o-labels--big o-labels--test"><strong>TEST</strong> Relax you are using the test API</span>
		{{else}}
		<span class="o-labels o-labels--big o-labels--premium"><strong>PRODUCTION</strong> Careful you are using the production API</span>
		{{/if}}
	</div>

	{{#if showHelpers}}
	<div class="ncf__debug-helpers">
		<button class="ncf__debug-button" onclick="fillForm();">Fill</button>
		<button class="ncf__debug-button" onclick="fillForm(); submitForm();">Fill & Submit</button>
		<button class="ncf__debug-button" onclick="copyToClipboard('ukVisa');">Copy UK Visa</button>
		<button class="ncf__debug-button" onclick="copyToClipboard('usVisa');">Copy US Visa</button>
		<button class="ncf__debug-button" onclick="copyToClipboard('usAmex');">Copy US Amex</button>
	</div>
	{{/if}}
</div>
<script>
	var FORM_SELECTOR = 'form.ncf';
	var debugData = {
		ukVisa: '4111111111111111',
		usVisa: '4112344112344113',
		usAmex: '378282246310005',
		email: Date.now() + '@ftqa.org',
		password: 'password123',
		firstName: 'Test',
		lastName: 'Test',
		primaryTelephone: '0987654321',
		country: 'GBR',
		industry: 'DEF',
		responsibility: 'ADL',
		position: 'AS'
	};

	function fillForm () {
		var inputs = document.querySelectorAll(FORM_SELECTOR + ' input, ' + FORM_SELECTOR + ' select');
		inputs.forEach(function (input) {
			var value = debugData[input.name];
			input.value = value;
		});
	}

	function submitForm () {
		document.querySelector(FORM_SELECTOR).submit();
	}

	function copyToClipboard (name) {
		var string = debugData[name];
		var textarea = document.createElement('textarea');
		textarea.value = string;
		document.body.appendChild(textarea);
		textarea.select();
		document.execCommand('copy');
		document.body.removeChild(textarea);
	}
</script>
{{/ifSome}}
