{{!-- Debug Panel for working with Conversion Forms --}}
{{!-- Style and scripts are inline to reduce the impact on production files --}}
{{#ifSome isTest showHelpers}}
<div class="ncf__debug-panel">
	<span class="ncf__debug-environment">
		{{#if isTest}}
		<span class="ncf__debug-label ncf__debug-label--test"><strong>TEST</strong> relax you are using the test API</span>
		{{else}}
		<span class="ncf__debug-label ncf__debug-label--production"><strong>PRODUCTION</strong> careful you are using the production API</span>
		{{/if}}
	</span>
	{{#if showHelpers}}
	<span class="ncf__debug-helpers">
		<button class="ncf__button ncf__button--inverse" onclick="fillForm();" title="Fill form with debug data">Fill</button>
		<button class="ncf__button ncf__button--inverse" onclick="fillForm(); submitForm();" title="Fill form with debug data and submit">Fill & Submit</button>
		<button class="ncf__button ncf__button--inverse" onclick="copyToClipboard('ukVisa');" title="Copy UK Visa card number to clipboard">UK Visa</button>
		<button class="ncf__button ncf__button--inverse" onclick="copyToClipboard('usVisa');" title="Copy US Visa card number to clipboard">US Visa</button>
		<button class="ncf__button ncf__button--inverse" onclick="copyToClipboard('usAmex');" title="Copy US Amex card number to clipboard">US Amex</button>
	</span>
	{{/if}}

</div>
<script>
	var FORM_SELECTOR = 'form.ncf';
	var debugData = {
		ukVisa: '4111111111111111',
		usVisa: '4112344112344113',
		usAmex: '378282246310005',
		email: Date.now() + '@ftqa.org',
		password: 'password123',
		firstName: 'Test',
		lastName: 'Test',
		primaryTelephone: '0987654321',
		country: 'GBR',
		billingCountry: 'GBR',
		industry: 'DEF',
		responsibility: 'ADL',
		position: 'AS'
	};

	function fillForm () {
		var inputs = document.querySelectorAll(FORM_SELECTOR + ' input, ' + FORM_SELECTOR + ' select');
		inputs.forEach(function (input) {
			var value = debugData[input.name];
			input.value = value;
		});
		var checkboxes = document.querySelectorAll(FORM_SELECTOR + ' input[type="checkbox"]');
		checkboxes.forEach(function (checkbox) {
			checkbox.checked = true;
		});
	}

	function submitForm () {
		document.querySelector(FORM_SELECTOR).submit();
	}

	function copyToClipboard (name) {
		var string = debugData[name];
		var textarea = document.createElement('textarea');
		textarea.value = string;
		document.body.appendChild(textarea);
		textarea.select();
		document.execCommand('copy');
		document.body.removeChild(textarea);
	}
</script>
<style>
	.ncf__debug-panel {
		position: absolute;
		background-color: #262a33;
		color: #ffffff;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 10px;
		position: fixed;
		z-index: 1000;
		opacity: 0.8;
	}
	.ncf__debug-label {
		font-size: 14px;
		line-height: 1em;
		font-weight: 500;
		text-align: center;
		display: inline-block;
		box-sizing: border-box;
		vertical-align: middle;
		margin: 0 5px 0 0;
		padding: 12px;
	}
	.ncf__debug-label--test {
		background-color: #008040;
	}
	.ncf__debug-label--production {
		background-color: #990000;
	}
</style>
{{/ifSome}}
