{{!-- Debug Panel for working with Conversion Forms --}}
{{!-- Style and scripts are inline to reduce the impact on production files --}}
{{#ifSome isTest showHelpers}}
<div class="ncf__debug-panel">
	<span class="ncf__debug-environment">
		{{#if isTest}}
		<a class="ncf__button ncf__button--inverse ncf__debug-button--test" onclick="setTestEnvironment('off');"><strong>TEST</strong> relax you are using the test API</a>
		{{else}}
		<a class="ncf__button ncf__button--inverse ncf__debug-button--production" onclick="setTestEnvironment('on');"><strong>PRODUCTION</strong> careful you are using the production API</a>
		{{/if}}
	</span>
	{{#if showHelpers}}
	<span class="ncf__debug-helpers">
		<button class="ncf__button ncf__button--inverse" onclick="logout();" title="Logout and refresh">Logout</button>
		<button class="ncf__button ncf__button--inverse" onclick="fillForm();" title="Fill form with debug data">Fill</button>
		<button class="ncf__button ncf__button--inverse" onclick="fillForm(); submitForm();" title="Fill form with debug data and submit">Fill & Submit</button>
		{{#if isTest}}
			<button id="ncf-copy-uk-visa" class="ncf__button ncf__button--inverse" onclick="copyToClipboard('ukVisa');" title="Copy UK Visa card number to clipboard">UK Visa</button>
			<button id="ncf-copy-us-visa" class="ncf__button ncf__button--inverse" onclick="copyToClipboard('usVisa');" title="Copy US Visa card number to clipboard">US Visa</button>
			<button id="ncf-copy-us-amex" class="ncf__button ncf__button--inverse" onclick="copyToClipboard('usAmex');" title="Copy US Amex card number to clipboard">US Amex</button>
		{{/if}}
		{{#if links}}
			{{#each links}}
			<a class="ncf__button ncf__button--inverse ncf__link" href="{{this}}">{{@key}}</a>
			{{/each}}
		{{/if}}
	</span>
	{{/if}}

</div>
<script>
	var FORM_SELECTOR = 'form.ncf';
	var debugData = {
		ukVisa: '4111111111111111',
		usVisa: '4112344112344113',
		usAmex: '378282246310005',
		email: Date.now() + '@ftqa.org',
		password: 'password123',
		firstName: 'Test',
		lastName: 'Test',
		primaryTelephone: '0987654321',
		postCode: 'SE1 9HL',
		country: 'GBR',
		billingCountry: 'GBR',
		postCode: 'EC4M 9JA',
		industry: 'DEF',
		responsibility: 'ADL',
		position: 'AS'
	};

	function logout () {
		const options = {
			mode: 'no-cors',
			credentials: 'include'
		};
		fetch('https://www.ft.com/logout', options).then(function () {
			window.location.reload();
		});
	}

	function fillForm () {
		var inputs = document.querySelectorAll(FORM_SELECTOR + ' input, ' + FORM_SELECTOR + ' select');
		inputs.forEach(function (input) {
			if (!/hidden/i.test(input.type)) {
				var value = debugData[input.name];
				input.value = value;
			}
		});
		var checkboxes = document.querySelectorAll(FORM_SELECTOR + ' input[type="checkbox"]');
		checkboxes.forEach(function (checkbox) {
			checkbox.checked = true;
		});
	}

	function submitForm () {
		document.querySelector(FORM_SELECTOR).submit();
	}

	function copyToClipboard (name) {
		var string = debugData[name];
		var textarea = document.createElement('textarea');
		textarea.value = string;
		document.body.appendChild(textarea);
		textarea.select();
		document.execCommand('copy');
		document.body.removeChild(textarea);
	}

	function setTestEnvironment (state) {
		var flags = document.cookie.match('(^|[^;]+)\\s*next-flags\\s*=\\s*([^;]+)').pop();
		var flag = 'conversionSandbox%3A';
		flags = flags.replace(flag + 'on', '');
		flags = flags.replace(flag + 'off', '');
		document.cookie = 'next-flags=' + flags + '%2C' + flag + state + '; path=/; domain=.ft.com;';
		window.location.reload();
	}

</script>
<style>
	.ncf__debug-panel {
		position: absolute;
		background-color: #262a33;
		color: #ffffff;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 10px;
		position: fixed;
		z-index: 1000;
		opacity: 0.8;
	}
	.ncf__debug-button--test {
		background-color: #008040;
	}
	.ncf__debug-button--production {
		background-color: #990000;
	}
</style>
{{/ifSome}}
