<div id="decisionMakerField" role="group" aria-labelledby="decisionMakerFieldLabel" class="o-forms-field o-forms-field--inline" data-validate="required">
	<span class="o-forms-title">
		<span class="o-forms-title__main" id="decisionMakerFieldLabel">Are you a manager with direct reports?</span>
	</span>

	<span class="o-forms-input o-forms-input--radio-box o-forms-input--inline{{#if hasError}} o-forms-input--invalid{{/if}}">
		<div class="o-forms-input--radio-box__container">
			<label for="decisionMakerYes">
				<input type="radio" id="decisionMakerYes" name="decisionMaker" aria-label="Yes" value="yes"{{#ifEquals value "yes"}} checked{{/ifEquals}} />
				<span class="o-forms-input__label" aria-hidden="true">Yes</span>
			</label>
			<label for="decisionMakerNo">
				<input type="radio" id="decisionMakerNo" name="decisionMaker" aria-label="No" value="no"{{#ifEquals value "no"}} checked{{/ifEquals}} />
				<span class="o-forms-input__label o-forms-input__label--negative" aria-hidden="true">No</span>
			</label>
		</div>
		<span class="o-forms-input__error">Please select an option</span>
	</span>
</div>
