<label id="decisionMakerField" class="o-forms-field o-forms-field--wide o-forms-field--inline" data-validate="required">
	<legend class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title__main" id="inline-radio-box-group-title">
			Are you a manager with direct reports?
		</span>
	</legend>
	<span class="o-forms-input o-forms-input--radio-box o-forms-input--inline {{#if hasError}} o-forms-input--invalid{{/if}}">
		<div class="o-forms-input--radio-box__container">
			<label>
				<input id="decisionMakerYes" type="radio" name="decisionMaker" value="yes" {{#ifEquals value "yes"}} checked{{/ifEquals}}>
				<span for="decisionMakerYes" class="o-forms-input__label" aria-hidden="true">Yes</span>
			</label>
			<label>
				<input id="decisionMakerNo" type="radio" name="decisionMaker" value="no" {{#ifEquals value "no"}} checked{{/ifEquals}}>
				<span for="decisionMakerNo" class="o-forms-input__label o-forms-input__label--negative" aria-hidden="true">No</span>
			</label>
		</div>

		<span class="o-forms-input__error">Please select an option</span>
	</span>
</label>
