<div id="countryField" class="o-forms o-forms--wide ncf__field js-field js-unknown-user-field{{#if hasError}} o-forms--error{{/if}}"
	data-ui-item="select" data-ui-item-name="country" data-ui-item-store-previous="true" data-validate="required">

	<label for="deliveryCountry" class="o-forms__label">Country</label>

	{{#ncf-countries filterList=filterList}}
	<select id="deliveryCountry" name="deliveryCountry" class="o-forms__select js-field__input js-item__value"
					data-trackable="field-delivery-country"
					aria-required="true" required
					{{#if isDisabled}}disabled{{/if}}>
		<option value>Please select a country</option>
		{{#if ncfCountryGroups}}
			{{#each ncfCountryGroups as |group|}}
			<optgroup label="{{group.label}}">
				{{#each group.countries as |country|}}
					<option value="{{country.code}}" {{#ifEquals country.code ../../value }} selected{{/ifEquals}}>{{country.name}}</option>
				{{/each}}
			</optgroup>
			{{/each}}
		{{else}}
			{{#each countries as |country|}}
				<option value="{{country.code}}" {{#ifEquals country.code ../value }} selected{{/ifEquals}}>{{country.name}}</option>
			{{/each}}
		{{/if}}
	</select>

	{{/ncf-countries}}

	<div class="o-forms__errortext">Please select your country</div>

</div>
