<label id="deliveryPostcodeField"
	class="o-forms-field{{#if isHidden}} n-ui-hide{{/if}}"
	data-validate="required">

	<span class="o-forms-title">
		<span class="o-forms-title__main">
			Delivery <span data-reference="postcode">{{postcodeReference}}</span>
		</span>
	</span>
	<span class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}">
		<input type="text"
			id="deliveryPostcode"
			name="deliveryPostcode"
			placeholder= "Enter your {{postcodeReference}}"
			autocomplete="postal-code"
			data-trackable="delivery-postcode"
			aria-required="true" required
			{{#if pattern}}pattern="{{pattern}}"{{/if}}
			{{#if isDisabled}}disabled{{/if}}
			value="{{value}}" />
		<span class="o-forms-input__error">Please enter a valid <span data-reference="postcode">{{postcodeReference}}</span>.</span>
	</span>
</label>
