<div id="deliveryPostcodeField"
		class="o-forms o-forms--wide ncf__field js-field{{#if hasError}} o-forms--error{{/if}}{{#if isHidden}} n-ui-hide{{/if}}"
		data-ui-item="form-field"
		data-ui-item-name="deliveryPostcode"
		data-validate="required">

	<label for="deliveryPostcode" class="o-forms__label">
		Delivery <span data-reference="postcode">{{postcodeReference}}</span>
	</label>

	<input type="text"
			id="deliveryPostcode"
			name="deliveryPostcode"
			placeholder= "Enter your {{postcodeReference}}"
			autocomplete="postal-code"
			class="o-forms__text js-field__input js-item__value"
			data-trackable="delivery-postcode"
			aria-required="true" required
			{{#if pattern}}pattern="{{pattern}}"{{/if}}
			{{#if isDisabled}}disabled{{/if}}
			value="{{value}}">

	<div class="o-forms__errortext">Please enter a valid <span data-reference="postcode">{{postcodeReference}}</span>.</div>

</div>
