<label id="deliveryCityField" class="o-forms-field" data-validate="required" for="deliveryCity">
	<span class="o-forms-title">
		<span class="o-forms-title__main">City/town</span>
	</span>
	<span class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}">
		<input type="text" id="deliveryCity" name="deliveryCity"
			data-trackable="field-deliveryCity"
			autocomplete="address-level2"
			placeholder="e.g. Bath"
			aria-required="true" required
			{{#if isDisabled}}disabled{{/if}}
			value="{{value}}"
		/>
		<span class="o-forms-input__error">Please enter a valid city or town</span>
	</span>
</label>
