<label id="deliveryStartDateField" class="o-forms-field ncf__validation-error" data-validate="required" for="deliveryStartDate">
	<span class="o-forms-title">
		<span class="o-forms-title__main">Delivery start date</span>
		<span class="o-forms-title__prompt">Earliest available delivery date: {{date}}</span>
	</span>

	<span class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}">
		<input type="date" id="deliveryStartDate" name="deliveryStartDate"
			{{#if min}}min={{min}}{{/if}}
			{{#if max}}max={{max}}{{/if}}
			data-trackable="field-deliveryStartDate"
			aria-required="true" required
			{{#if isDisabled}}disabled{{/if}}
			value="{{value}}" />
		<span class="o-forms-input__error">Please select a valid start date</span>
	</span>

	<p>{{#if isAddressUpdate}}We’ll start delivering to this address from:{{else}}Your print subscription will start from:{{/if}} <strong class="js-start-date-text">{{date}}</strong></p>

	<p>
		NB. This will  be the closest date we can supply your newspaper based on your selected date e.g. {{#ifEquals addressType 'weekend'}}if you select a Sunday then we’ll start your deliveries on the following Saturday.{{else}}if you select a Sunday then we can start your supply on the Monday.{{/ifEquals}}
	</p>
</label>
