<div id="deliveryOptionField" class="o-forms__group ncf__delivery-option{{#if isSingle}} ncf__delivery-option--single{{/if}}">
	{{#each options}}
	<div class="ncf__delivery-option__item">
		<input type="radio" id="{{this.value}}" name="deliveryOption" value="{{this.value}}" class="o-forms__radio o-forms__radio--right ncf__delivery-option__input"{{#if this.isSelected}} checked{{/if}}>
		<label for="{{this.value}}" class="o-forms__label ncf__delivery-option__label">
			{{#ifEquals this.value 'PV'}}
			<span class="ncf__delivery-option__title">Paper vouchers</span>
			<div class="ncf__delivery-option__description">
				13-week voucher pack delivered quarterly and redeemable at retailers nationwide.
			</div>
			{{/ifEquals}}

			{{#ifEquals this.value 'HD'}}
			<span class="ncf__delivery-option__title">Home delivery</span>
			<div class="ncf__delivery-option__description">
				Free delivery to your home or office before 7am.
			</div>
			{{/ifEquals}}

			{{#ifEquals this.value 'EV'}}
			<span class="ncf__delivery-option__title">Electronic vouchers</span>
			<div class="ncf__delivery-option__description">
				Delivered via email and card, redeemable at retailers nationwide.
			</div>
			{{/ifEquals}}
		</label>
	</div>
	{{/each}}
</div>
