<div id="deliveryAddressFields" data-validate="required">
	<label class="o-forms-field">
		<span class="o-forms-title">
			<span class="o-forms-title__main">Address line 1</span>
		</span>
		<span class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}">
			<input type="text" id="deliveryAddressLine1" name="deliveryAddressLine1"
				data-trackable="field-deliveryAddressLine1"
				autocomplete="address-line1"
				placeholder="e.g. 10 Elm Street"
				aria-required="true" required
				{{#if isDisabled}}disabled{{/if}}
				value="{{line1}}" />
		</span>
	</label>
	<label class="o-forms-field o-forms-field--optional">
		<span class="o-forms-title">
			<span class="o-forms-title__main">Address line 2</span>
		</span>
		<span class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}">
			<input type="text" id="deliveryAddressLine2" name="deliveryAddressLine2"
				data-trackable="field-deliveryAddressLine2"
				autocomplete="address-line2"
				placeholder="e.g. Apartment 1"
				{{#if isDisabled}}disabled{{/if}}
				value="{{line2}}" />
		</span>
	</label>
	<label class="o-forms-field o-forms-field--optional">
		<span class="o-forms-title">
			<span class="o-forms-title__main">Address line 3</span>
		</span>
		<span class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}">
			<input type="text" id="deliveryAddressLine3" name="deliveryAddressLine3"
				data-trackable="field-deliveryAddressLine3"
				autocomplete="address-line3"
				placeholder=""
				{{#if isDisabled}}disabled{{/if}}
				value="{{line3}}" />
		</span>
	</label>
</div>
