<div id="deliveryCountyField"
		class="o-forms o-forms--wide ncf__field js-field{{#if hasError}} o-forms--error{{/if}}"
		data-ui-item="form-field"
		data-ui-item-name="deliveryCounty"
		data-validate="required">

	<label for="deliveryCounty" class="o-forms__label">County <small>(optional)</small></label>
	<input type="text" id="deliveryCounty" name="deliveryCounty"
			class="o-forms__text js-field__input js-item__value"
			data-trackable="field-deliveryCounty"
			autocomplete="address-level3"
			placeholder="e.g. Somerset"
			{{#if isDisabled}}disabled{{/if}}
			value="{{value}}">

</div>
