<label id="deliveryInstructionsField" class="o-forms-field o-forms-field--optional" data-validate="required" for="deliveryInstructions">
	<span class="o-forms-title">
		<span class="o-forms-title__main">Delivery instructions</span>
		<span class="o-forms-title__prompt o-spacing-s2">
			For newspaper delivery, we can only deliver to the ground floor, so if you live in an apartment, we'll leave the newspaper at reception or by the entrance. We deliver in the early hours of the morning so our drivers won't be able to contact you or ring your doorbell.
		</span>
		<span class="o-forms-title__prompt">
			If your property requires security codes that will help our drivers deliver your newspaper safely, please do not add them here as they may be printed on your newspaper label. If you do add them here you do so at your own risk as these will appear on your label.
		</span>
	</span>

	<span class="o-forms-input o-forms-input--textarea{{#if hasError}} o-forms-input--invalid{{/if}}">
		<textarea id="deliveryInstructions" name="deliveryInstructions"
			{{#if maxlength}}maxlength="{{maxlength}}"{{/if}}
			{{#if rows}}rows="{{rows}}"{{/if}}
			data-trackable="field-deliveryInstructions"
			placeholder="{{#if placeholder}}{{placeholder}}{{else}}Enter instructions {{#if maxlength}}(Max. {{maxlength}} characters){{/if}}:&#x0a;- Door colour, letterbox location&#x0a;- Placement i.e. letterbox delivery&#x0a;- Special handling i.e. place in plastic bag{{/if}}"
			{{#if isDisabled}}disabled{{/if}}>{{value}}</textarea>
	</span>
</label>
