<div id="deliveryInstructionsField"
		class="o-forms o-forms--wide ncf__field js-field{{#if hasError}} o-forms--error{{/if}}"
		data-ui-item="form-field"
		data-ui-item-name="deliveryInstructions"
		data-validate="required">

	<label for="deliveryInstructions" class="o-forms__label">
		Delivery instructions <small>(optional)</small><br />
		<small>Any instructions which will help us deliver your newspaper; door colour, letterbox location, access code etc</small><br />
		{{#if maxlength}}<small>Max. {{maxlength}} characters</small>{{/if}}
	</label>
	<textarea type="text" id="deliveryInstructions" name="deliveryInstructions"
				{{#if maxlength}}maxlength="{{maxlength}}"{{/if}}
				{{#if rows}}rows="{{rows}}"{{/if}}
				class="o-forms__text js-field__input js-item__value"
				data-trackable="field-deliveryInstructions"
				placeholder="Enter your delivery instructions"
				{{#if isDisabled}}disabled{{/if}}>{{value}}</textarea>

</div>
