<div id="deliveryInstructionsField"
		class="o-forms o-forms--wide ncf__field js-field{{#if hasError}} o-forms--error{{/if}}"
		data-ui-item="form-field"
		data-ui-item-name="deliveryInstructions"
		data-validate="required">

	<label for="deliveryInstructions" class="o-forms__label">
		Delivery instructions <small>(optional)</small>
	</label>
	<div class="ncf__terms ncf__terms--small">
		These may be printed on your newspaper. Don’t add sensitive information like access codes. If you do so, it is at your own risk. To provide additional secure information, login to your account via FT.com.
	</div>
	<textarea type="text" id="deliveryInstructions" name="deliveryInstructions"
				{{#if maxlength}}maxlength="{{maxlength}}"{{/if}}
				{{#if rows}}rows="{{rows}}"{{/if}}
				class="o-forms__text js-field__input js-item__value"
				data-trackable="field-deliveryInstructions"
				placeholder="Enter instructions {{#if maxlength}}(Max. {{maxlength}} characters){{/if}}:
- Door colour, letterbox location
- Placement i.e. letterbox delivery
- Special handling i.e. place in plastic bag"
				{{#if isDisabled}}disabled{{/if}}>{{value}}</textarea>
	<p>
		Please note that we can only deliver to the ground floor level of your property.
	</p>
</div>
