<label id="deliveryCountyField" class="o-forms-field o-forms-field--optional" data-validate="required">
	<span class="o-forms-title">
		<span class="o-forms-title__main">County</span>
	</span>
	<span class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}">
		<input type="text" id="deliveryCounty" name="deliveryCounty"
			data-trackable="field-deliveryCounty"
			autocomplete="address-level3"
			placeholder="e.g. Somerset"
			{{#if isDisabled}}disabled{{/if}}
			value="{{value}}" />
	</span>
</label>
