<label id="jobTitleField" class="o-forms-field" data-validate="required" for="jobTitle">
	<span class="o-forms-title">
		<span class="o-forms-title__main">Occupation</span>
	</span>

	<span class="o-forms-input o-forms-input--select{{#if hasError}} o-forms-input--invalid{{/if}}">
		<select
			id="jobTitle"
			name="jobTitle"
			data-trackable="job-title"
			aria-required="true"
			required
			{{#if isDisabled}}disabled{{/if}}
		>
			<option {{#unless value}}selected{{/unless}} value="">Select your occupation</option>
			<option {{#if value}}{{#ifEquals  value 'Faculty/Other' }} selected{{/ifEquals}}{{/if}}>Faculty/Other</option>
			<option {{#if value}}{{#ifEquals  value 'Student' }} selected{{/ifEquals}}{{/if}}>Student</option>
		</select>
		<span class="o-forms-input__error">Please enter your occupation.</span>
	</span>
</label>
