<label
	id="emailField"
	class="o-forms-field o-forms-field--wide"
	data-validate="required,email"
>
	<span class="o-forms-title">
		<span class="o-forms-title__main">
			{{#if isB2b}}
			Work email address
			{{else}}
			Email address
			{{/if}}
		</span>
		<span class="o-forms-title__prompt">
			{{#if description}}
			{{ description }}
			{{else}}
			Please enter an email address
			{{/if}}
		</span>
	</span>

	<span
		class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}"
	>
		<input
			type="email"
			id="email"
			name="email"
			value="{{ value }}"
			placeholder="Enter your email address"
			autocomplete="email"
			aria-describedby="email-description"
			aria-required="true"
			required
			{{#if isDisabled}}disabled{{/if}}
		/>

		<span class="o-forms-input__error">This email address is not valid</span>
	</span>
</label>

{{#if showConfirm}}
<label
	id="emailConfirmField"
	class="o-forms-field o-forms-field--wide"
	data-validate="required,email"
>
	<span for="email" class="o-forms-title">
		Confirm email address
	</span>

	<span
		class="o-forms-input o-forms-input--text{{#if hasConfirmError}} o-forms-input--invalid{{/if}}"
	>
		<input
			type="email"
			id="emailConfirm"
			name="emailConfirm"
			placeholder="Confirm your email address"
			autocomplete="email"
			aria-required="true"
			required
			{{#if isDisabled}}disabled{{/if}}
		/>

		<span class="o-forms-input__error">This email address does not match</span>
	</span>
</label>
{{/if}}
