<label id="emailField" class="o-forms-field" data-validate="required,email" for="email">
	<span class="o-forms-title">
		<span class="o-forms-title__main">
			{{#if isB2b}}
				{{#unless isEducationalLicence}}
				Work email address
				{{else}}
				Email address
				{{/unless}}
			{{else}}
			Email address
			{{/if}}
		</span>
		<span class="o-forms-title__prompt">
			{{#if description}}
			{{description}}
			{{else}}
			Please enter an email address
			{{/if}}
		</span>
	</span>
	<span class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}">
		<input type="email" id="email" name="email" placeholder="Enter your email address"
			autocomplete="email"
			data-trackable="field-email"
			aria-required="true"
			required
			{{#if isDisabled}}disabled{{/if}}
			value="{{value}}"
		/>
		<span class="o-forms-input__error">This email address is not valid</span>
	</span>
</label>
