<div class="ncf__wrapper ncf__center ncf__error-page">
	<div class="ncf__icon ncf__icon--error ncf__icon--large"></div>
	<div class="ncf__paragraph">
		<h1 class="ncf__header">{{#if header}}{{header}}{{else}}Sorry, something went wrong{{/if}}</h1>
		<p id="error-message">{{#if message}}{{message}}{{else}}Speak to our Customer Care team now so we can help.{{/if}}</p>
	</div>
	{{#if @partial-block}}
		<div class="ncf__error-page__content">
				{{> @partial-block }}
		</div>

	{{/if}}
	<div class="ncf__paragraph">
		<p>International Toll Free Number</p>
		<a id="error-international-number" class="ncf__header ncf__link" href="tel:+80007056477">+ 800 0705 6477</a>
	</div>
	<div class="ncf__paragraph">
		<a class="ncf__link" href="https://help.ft.com/help/contact-us/">Find a local phone number</a>
	</div>
</div>
