<label
	id="firstNameField"
	class="o-forms-field"
	data-validate="required"
	for="firstName">

	<span class="o-forms-title">
		<span class="o-forms-title__main">First name</span>
	</span>

	<span class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}">
		<input
			type="text"
			id="firstName"
			name="firstName"
			placeholder="Enter your first name"
			autocomplete="given-name"
			data-trackable="field-name"
			aria-required="true" required
			{{#if isDisabled}}disabled{{/if}}
			value="{{value}}"
		/>
		<span class="o-forms-input__error">Please enter your first name</span>
	</span>
</label>
