<label id="industryField" class="o-forms-field o-forms-field--wide" data-validate="required">

	<span class="o-forms-title">
		<span class="o-forms-title__main">
			In which industry do you work?
		</span>
	</span>

	{{#ncf-common-data import="demographics.industries.industries" export="options"}}

	<span class="o-forms-input o-forms-input--select{{#if hasError}} o-forms-input--invalid{{/if}}">
		<select
			id="industry"
			name="industry"
			aria-required="true"
			required
			{{#if isDisabled}}disabled{{/if}}
		>
			<option value>Please select an industry</option>
			{{#each options as |option|}}
			<option value="{{option.code}}"{{#if ../value}}{{#ifEquals option.code ../value }} selected{{/ifEquals}}{{else}}{{/if}}>{{option.description}}</option>
			{{/each}}
		</select>

		<span class="o-forms-input__error">Please select your company‘s industry</span>
	</span>

	{{/ncf-common-data}}

</label>
