<label id="industryField" class="o-forms-field ncf__validation-error" data-validate="required" for="industry">
	<span class="o-forms-title">
		<span class="o-forms-title__main">In which industry do you work?</span>
	</span>

	{{#ncf-common-data import="demographics.industries.industries" export="options"}}

	<span class="o-forms-input o-forms-input--select{{#if hasError}} o-forms-input--invalid{{/if}}">
		<select id="industry" name="industry"
			data-trackable="field-industry" aria-required="true" required {{#if isDisabled}}disabled{{/if}}>
			<option value="">Please select an industry</option>
			{{#each options as |option|}}
			<option {{#if ../value}}{{#ifEquals option.code ../value }} selected{{/ifEquals}}{{else}}{{/if}}
				value="{{option.code}}">{{option.description}}</option>
			{{/each}}
		</select>
		<span class="o-forms-input__error">Please select your company’s industry</span>
	</span>

	{{/ncf-common-data}}
</label>
