<div id="jobTitleField" class="o-forms o-forms--wide ncf__field js-field{{#if hasError}} o-forms--error{{/if}}" data-ui-item="form-field" data-ui-item-name="jobTitle" data-validate="required">

	<label for="jobTitle" class="o-forms__label">Job title</label>

	<input type="text" id="jobTitle" name="jobTitle" placeholder="Enter your job title"
				class="o-forms__text js-field__input js-item__value"
				data-trackable="job-title"
				aria-required="true" required
				{{#if isDisabled}}disabled{{/if}} value="{{value}}"
	/>

	<div class="o-forms__errortext">Please enter your job title.</div>

</div>
