<label id="jobTitleField" class="o-forms-field" data-validate="required">
	<span class="o-forms-title">
		<span class="o-forms-title__main">Job title</span>
	</span>

	<span class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}">
		<input type="text" id="jobTitle" name="jobTitle" placeholder="Enter your job title"
			data-trackable="job-title"
			aria-required="true" required
			{{#if isDisabled}}disabled{{/if}} value="{{value}}"
		/>
	</span>

	<span class="o-forms-input__error">Please enter your job title.</span>
</label>
