<label id="lastNameField" class="o-forms-field" data-validate="required">
	<span class="o-forms-title">
		<span class="o-forms-title__main">Last name</span>
	</span>

	<span class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}">
		<input
			type="text"
			id="lastName"
			name="lastName"
			placeholder="Enter your last name"
			autocomplete="family-name"
			data-trackable="field-lastname"
			aria-required="true" required
			{{#if isDisabled}}disabled{{/if}}
			value="{{value}}"
		/>
		<span class="o-forms-input__error">Please enter your last name</span>
	</span>
</label>
