<div class="ncf ncf__wrapper">
	<div class="ncf__center">
		<div class="ncf__icon ncf__icon--tick ncf__icon--large"></div>
		<div class="ncf__paragraph">
			{{#if isTrial}}
			<h1 class="ncf__header ncf__header--confirmation">Your{{#if duration}} {{duration}}{{/if}} trial has started</h1>
			{{else}}
			<h1 class="ncf__header ncf__header--confirmation">Great news, you have joined your company licence</h1>
			{{/if}}
		</div>
	</div>

	<p class="ncf__paragraph">
		Go to myFT to personalise your feed & follow topics & articles of interest to you. Set this up now or later.
	</p>

	<p class="ncf__paragraph">
		Explore the homepage & enjoy your unlimited access & exclusive content.
	</p>

	<p class="ncf__paragraph ncf__center">
		<a href="/myft" class="ncf__button ncf__button--submit"{{#if isEmbedded}} target="_top"{{/if}}>Go to myFT</a>
	</p>

	<p class="ncf__paragraph ncf__center">
		<a href="/" class="ncf__link"{{#if isEmbedded}} target="_top"{{/if}}>Go to the homepage</a>
	</p>
</div>
