<div class="ncf__loader {{#if showLoader}}is-visible{{else}}ncf__hidden{{/if}}"
	role="dialog" aria-labelledby="loader-aria-label" aria-describedby="loader-aria-description"
	aria-modal="true" {{#if showLoader}}tabindex="1"{{/if}}>
	<div class="ncf__loader__content">
		{{#if title}}
			<div class="ncf__loader__content__title" id="loader-aria-label">
				{{title}}
			</div>
		{{else}}
			<div class="ncf__hidden" id="loader-aria-label">Loading</div>
		{{/if}}
		<div class="ncf__loader__content__main" id="loader-aria-description">
			{{#if @partial-block}}
				{{> @partial-block }}
			{{/if}}
		</div>
	</div>
</div>
