<div class="ncf__center o-message o-message--notice-bleed o-message--inform" data-o-component="o-message">
	<div class="o-message__container">
		<div class="o-message__content">
			<p class="o-message__content-main">You have chosen <strong>{{currentPackage}}</strong></p>
			<div class="o-message__actions">
				<form action="{{changePackageUrl}}" method="POST">
					{{#each formData}}<input type="hidden" name="{{name}}" value="{{value}}" />{{/each}}
					<button class="ncf__button ncf__button--mono" data-trackable="change" type="submit">Change</button>
				</form>
			</div>
		</div>
	</div>
</div>
