<label
	id="passwordField"
	class="o-forms-field o-forms-field--wide{{#if unknownUser}} js-unknown-user-field{{/if}}"
	data-validate="required,password"
>
	<span class="o-forms-title">
		<span class="o-forms-title__main">Password</span>
		<span class="o-forms-title__prompt"
			>Use 8 or more characters with a mix of letters, numbers &amp;
			symbols</span
		>
	</span>

	<span class="o-forms-input o-forms-input--password o-forms-input--suffix{{#if hasError}} o-forms-input--invalid{{/if}}">
			<input
				type="password"
				id="password"
				name="password"
				placeholder="Enter a password"
				class="js-show-password__password-input"
				data-trackable="field-password"
				aria-describedby="password-description"
				aria-required="true"
			  {{#if unknownUser}}
			  autocomplete="new-password"
				{{else}}
				autocomplete="current-password"
				{{/if}}
				required
				{{#if pattern}}pattern="{{ pattern }}"{{/if}}
				{{#if isDisabled}}disabled{{/if}}
			/>

			<span class="o-forms-input o-forms-input--checkbox">
				<label>
					<input
						type="checkbox"
						id="showPassword"
						name="showPassword"
						aria-label="Show password"
            data-trackable="field-show-password"
					/>
					<span class="o-forms-input__label" aria-hidden="true">Show password</span>
				</label>
			</span>

		<span class="o-forms-input__error">Please enter a valid password</span>
	</span>
</label>
