<div id="passwordField" class="o-forms o-forms--wide ncf__field js-field{{#if unknownUser}} js-unknown-user-field{{/if}}{{#if hasError}} o-forms--error{{/if}}" data-ui-item="form-field" data-ui-item-name="password" data-validate="required,password">

	<label for="password" class="o-forms__label">Password</label>
	<small id="password-description" class="o-forms__additional-info">At least 6 characters including both letters &amp; numbers</small>

	<div class="o-forms__affix-wrapper js-show-password">
		<input type="password" id="password" name="password" placeholder="Enter a password" class="no-mouseflow o-forms__text o-forms__text--suffixed js-field__input js-show-password__password-input js-item__value" data-trackable="field-password" aria-describedby="password-description" aria-required="true" required>
		<span class="o-forms__suffix">
			<input type="checkbox" id="showPassword" name="showPassword" class="o-forms__checkbox js-show-password__checkbox" data-trackable="field-show-password">
			<label for="showPassword" class="o-forms__label">Show password</label>
		</span>
	</div>

	<div class="o-forms__errortext">Please enter a valid password</div>

</div>
