<div id="passwordField" class="o-forms-field ncf__password-field{{#if unknownUser}} js-unknown-user-field{{/if}}" data-validate="required,password">
	<label for="password" class="o-forms-title">
		<span class="o-forms-title__main">Password</span>
		<span class="o-forms-title__prompt">Use 8 or more characters with a mix of letters, numbers &amp; symbols</span>
	</label>

	<div class="o-forms-input o-forms-input--password o-forms-input--checkbox o-forms-input--suffix{{#if hasError}} o-forms-input--invalid{{/if}}">
		<input type="password" id="password" name="password" placeholder="Enter a password"
			autocomplete="new-password"
			data-trackable="field-password"
			aria-required="true" required
			{{#if pattern}}pattern="{{pattern}}"{{/if}}
			{{#if isDisabled}}disabled{{/if}} />
		<label class="ncf__password-field--show-password">
			<input type="checkbox" id="showPassword" name="showPassword" data-trackable="field-show-password" aria-label="Show password">
			<span class="o-forms-input__label" aria-hidden="true">Show password</span>
		</label>

		<div class="o-forms-input__error">Please enter a valid password</div>
	</div>

</div>
