<!-- commenting out for now as some of this renders locally and some doesn't so it looks weird on the demo -->
<!-- <div class="ncf__security-seal">
	<p>Secure payment details</p>
	<script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=www.ft.com&amp;size=XS&amp;use_flash=NO&amp;use_transparent=Yes&amp;lang=en"></script> Secure payment details
</div> -->

<div class="ncf__fieldset">
	<button class="ncf__button ncf__button--secondary ncf__button--full-width">Credit / Debit Card</button>
	<button class="ncf__button ncf__button--secondary ncf__button--full-width">Paypal</button>
	<button class="ncf__button ncf__button--secondary ncf__button--full-width">Direct Debit</button>
</div>
