<!-- commenting out for now as some of this renders locally and some doesn't so it looks weird on the demo -->
<!-- <div class="ncf__security-seal">
	<p>Secure payment details</p>
	<script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=www.ft.com&amp;size=XS&amp;use_flash=NO&amp;use_transparent=Yes&amp;lang=en"></script> Secure payment details
</div> -->

<div id="paymentTypeField" class="o-forms-field o-forms-field--wide ncf__field">
	<span class="o-forms-input o-forms-input--radio-box ncf__payment-type-selector">
		<div class="ncf__payment-type ncf__payment-type--creditcard{{#unless enableCreditcard }} ncf__is-hidden{{/unless}}">
			<span class="o-forms-input--radio-box__container">
				<label for="creditcard">
					<input type="radio" name="paymentType" value="creditcard" id="creditcard"{{#ifEquals value "creditcard"}} checked="checked"{{/ifEquals}}>
					<span class="o-forms-input__label" aria-hidden="true">Credit / Debit Card</span>
				</label>
			</span>
		</div>
		<div class="ncf__payment-type ncf__payment-type--paypal{{#unless enablePaypal }} ncf__is-hidden{{/unless}}">
			<span class="o-forms-input--radio-box__container">
				<label for="paypal">
					<input type="radio" name="paymentType" value="paypal" id="paypal"{{#ifEquals value "paypal"}} checked="checked"{{/ifEquals}}>
					<span class="o-forms-input__label" aria-hidden="true">PayPal</span>
				</label>
			</span>
		</div>
		<div class="ncf__payment-type ncf__payment-type--directdebit{{#unless enableDirectdebit }} ncf__is-hidden{{/unless}}">
			<span class="o-forms-input--radio-box__container">
				<label for="directdebit">
					<input type="radio" name="paymentType" value="directdebit" id="directdebit"{{#ifEquals value "directdebit"}} checked="checked"{{/ifEquals}}>
					<span class="o-forms-input__label" aria-hidden="true">Direct Debit</span>
				</label>
			</span>
		</div>
		<div class="ncf__payment-type ncf__payment-type--applepay{{#unless enableApplepay }} ncf__is-hidden{{/unless}}">
			<span class="o-forms-input--radio-box__container">
				<label for="applepay">
					<input type="radio" name="paymentType" value="applepay" id="applepay"{{#ifEquals value "applepay"}} checked="checked"{{/ifEquals}}>
					<span class="o-forms-input__label" aria-hidden="true">Apple Pay</span>
				</label>
			</span>
		</div>
	</span>

		<span class="o-forms-input__error">Please enter a valid payment type</span>

	</span>


	{{#if enableDirectdebit}}
	<div class="ncf__payment-type-panel ncf__payment-type-panel--directdebit ncf__is-hidden">
		<div id="directDebitGuarantee" class="ncf__directdebit-guarantee" data-o-component="o-expander" data-o-expander-shrink-to="hidden" data-o-expander-expanded-toggle-text="guarantee" data-o-expander-collapsed-toggle-text="guarantee" role="tabpanel">
			<p>Direct Debit is only supported in the UK</p>
			<p>Your payments are protected by the Direct Debit
				<button type="button" class="ncf__directdebit-guarantee-toggle">guarantee</button>
			</p>
			<ul class="ncf__directdebit-guarantee-list">
				<li>This Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits.</li>
				<li>If there are any changes to the amount, date or frequency of your Direct Debit GoCardless re: The Financial Times will
					notify you 3 working days in advance of your account being debited or as otherwise agreed. If you request GoCardless
					Ltd re: The Financial Times to collect a payment, confirmation of the amount and date will be given to you at the time
					of the request.</li>
				<li>If an error is made in the payment of your Direct Debit, by GoCardless Ltd re: The Financial Times or your bank or building
					society, you are entitled to a full and immediate refund of the amount paid from your bank or building society.</li>
				<li>If you receive a refund you are not entitled to, you must pay it back when GoCardless Ltd re: The Financial Times asks
					you to.</li>
				<li>You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written confirmation may
					be required. Please also notify us.</li>
			</ul>
		</div>
	</div>
	{{/if}}
	{{#ifSome enableCreditcard enableDirectdebit }}
	<div class="ncf__payment-type-panel ncf__payment-type-panel--creditcard ncf__payment-type-panel--directdebit ncf__is-hidden">
		<div class="ncf__zuora-payment-overlay ncf__is-hidden"></div>
		<!-- The Zuora payment interface used for credit card and direct debit -->
		<!-- ID "zuora_payment" is used by Zuora to target the iframe -->
		<div id="zuora_payment" class="ncf__zuora-payment">
			<iframe id="z_hppm_iframe" overflow="visible" scrolling="no" frameborder="0" allowtransparency="true"
				class="z_hppm_iframe" style="display: block;">
			</iframe>
		</div>
		<script src="https://static.zuora.com/Resources/libs/hosted/1.3.1/zuora-min.js"></script>
	</div>
	{{/ifSome}}
</div>
