<label
	id="primaryTelephoneField"
	for="primaryTelephone"
	class="o-forms-field"
	data-validate="required,number"
>
	<span class="o-forms-title">
		<span class="o-forms-title__main">
			{{#if isB2b}}
				{{#if isEducationalLicence}}
				Phone number
				{{else}}
				Work phone number
				{{/if}}
			{{else}}
			Phone number
			{{/if}}
		</span>
		<span class="o-forms-title__prompt">5 to 15 characters (numbers only)</span>
	</span>
	<span class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}">
		<input type="tel" id="primaryTelephone" name="primaryTelephone" placeholder="Enter your phone number"
			autocomplete="tel"
			minlength="5"
			maxlength="15"
			data-trackable="field-phone"
			aria-describedby="phone-description"
			aria-required="true" required
			{{#if pattern}}pattern="{{pattern}}"{{/if}}
			{{#if isDisabled}}disabled{{/if}}
			value="{{value}}" />
		<span class="o-forms-input__error">This phone number is not valid</span>
	</span>
</label>
