<label id="positionField" class="o-forms-field" data-validate="required">
	<span class="o-forms-title">
		<span class="o-forms-title__main">What’s your job position?</span>
	</span>

	<span class="o-forms-input o-forms-input--select{{#if hasError}} o-forms-input--invalid{{/if}}">
		{{#ncf-common-data import="demographics.positions.positions" export="options"}}

		<select id="position" name="position"
				data-trackable="field-position"
				aria-required="true" required
				{{#if isDisabled}}disabled{{/if}}>
			<option value="">Please select a job position</option>
			{{#each options as |option|}}
			<option {{#if ../value}}{{#ifEquals option.code ../value }} selected{{/ifEquals}}{{/if}} value="{{option.code}}">{{option.description}}</option>
			{{/each}}
		</select>

		{{/ncf-common-data}}
	</span>

	<span class="o-forms-input__error">Please select your position</span>
</label>
