<div id="postCodeField" class="o-forms o-forms--wide ncf__field js-field{{#if hasError}} o-forms--error{{/if}}" data-ui-item="form-field" data-ui-item-name="postCode" data-validate="required">

	<label for="postCode" class="o-forms__label">Post code</label>

	<input type="text" id="postCode" name="postCode" value="{{value}}" placeholder="Post code" class="o-forms__text js-field__input js-item__value" data-trackable="post-code" aria-required="true" required{{#if pattern}} pattern="{{pattern}}"{{/if}}>

	<div class="o-forms__errortext">Please enter a valid post code.</div>

</div>
