<label id="postCodeField" class="o-forms o-forms--wide{{#if isHidden}} ncf__is-hidden{{/if}}" data-validate="required">
	<span class="o-forms-title">
		<span class="o-forms-title__main">
			{{#if isBillingPostcode }}Billing{{/if}} {{#if isZipCode}}Zip Code{{else}}Post Code{{/if}}
		</span>
	</span>

	<span class="o-forms-input o-forms-input--text{{#if hasError}} o-forms-input--invalid{{/if}}">
		<input
			type="text"
			id="postCode"
			{{#if isBillingPostcode}}
			name="billingPostcode"
			{{else}}
			name="postCode"
			{{/if}}
			value="{{ value }}"
			placeholder="{{#if isZipCode}}Zip code{{else}}Post code{{/if}}"
			aria-required="true"
			autocomplete="postal-code"
			data-trackable="post-code"
			required
			{{#if pattern}}pattern="{{pattern}}" {{/if}}
			{{#if isDisabled}}disabled{{/if}}
		/>

		<span class="o-forms-input__error">
			Please enter a valid {{#if isZipCode}}zip code{{else}}post code{{/if}}.
		</span>
	</span>
</label>
