<div id="postCodeField" class="o-forms o-forms--wide ncf__field js-field{{#if hasError}} o-forms--error{{/if}}{{#if isHidden}} n-ui-hide{{/if}}" data-ui-item="form-field" data-ui-item-name="postCode" data-validate="required">

	<label for="postCode" class="o-forms__label">
		{{#if isBillingPostcode }}Billing{{/if}}
		{{#if isZipCode}}Zip Code{{else}}Post Code{{/if}}
	</label>

	<input type="text"
		id="postCode"
		{{#if isBillingPostcode}}
		name="billingPostcode"
		{{else}}
		name="postCode"
		{{/if}}
		value="{{value}}"
		placeholder="{{#if isZipCode}}Zip code{{else}}Post code{{/if}}"
		autocomplete="postal-code"
		class="o-forms__text js-field__input js-item__value"
		data-trackable="post-code"
		aria-required="true" required
		{{#if pattern}}pattern="{{pattern}}"{{/if}}
		{{#if isDisabled}}disabled{{/if}}>

	<div class="o-forms__errortext">Please enter a valid {{#if isZipCode}}zip code{{else}}post code{{/if}}.</div>

</div>
