<div class="ncf__progress">
	{{#each items}}
	{{#if isComplete}}
	<a class="ncf__progress__item ncf__progress__item--complete" href="{{this.url}}" data-trackable="change-progress">
		<i class="ncf__progress__icon"></i>
		<span class="ncf__progress__label">{{this.name}}</span>
	</a>
	{{else}}
	<div class="ncf__progress__item{{#if isCurrent}} ncf__progress__item--current{{/if}}">
		<i class="ncf__progress__icon"></i>
		<span class="ncf__progress__label">{{this.name}}</span>
	</div>
	{{/if}}
	{{/each}}
</div>
