<div class="o-stepped-progress" data-o-component="o-stepped-progress">
	<ol class="o-stepped-progress__steps">
		{{#each items}}
		<li>
			{{#if isComplete}}
			<a href="{{this.url}}" class="o-stepped-progress__step o-stepped-progress__step--complete" data-trackable="change-progress">
				<span class="o-stepped-progress__label">
					{{this.name}}<i class="ncf__icon ncf__icon--inline-edit"></i> <span class="o-stepped-progress__status">(completed)</span>
				</span>
			</a>
			{{else}}
			<div class="o-stepped-progress__step{{#if isCurrent}} o-stepped-progress__step--current{{/if}}">
				<span class="o-stepped-progress__label">
					{{this.name}} {{#if isCurrent}}<span class="o-stepped-progress__status">(current step)</span>{{/if}}
				</span>
			</div>
			{{/if}}
		</li>
		{{/each}}
	</ol>
</div>
