<div id="provinceField" class="o-forms o-forms--wide ncf__field js-field{{#if hasError}} o-forms--error{{/if}}{{#if isHidden}} n-ui-hide{{/if}}" data-ui-item="form-field" data-ui-item-name="province" data-validate="required">

	<label for="province" class="o-forms__label">{{#if isBillingProvince}}Billing {{/if}}Province</label>

	{{#ncf-common-data export='provinces' import='canadianProvinces.provinces' }}
	<select id="province" class="o-forms__select js-field__input js-item__value" aria-required="true" required
		{{#if isBillingProvince}}
		name="billingProvince"
		{{else}}
		name="province"
		{{/if}}
		data-trackable="field-province"
		{{#if isDisabled}}disabled{{/if}}>

		<option disabled selected value>Please select a province</option>
		{{#each provinces as |option|}}
		<option value="{{option.code}}"{{#ifEquals value option.code}} selected{{/ifEquals}}>{{option.name}}</option>
		{{/each}}
	</select>
	{{/ncf-common-data}}

	<div class="o-forms__errortext">Please select your province.</div>

</div>
