<label id="provinceField" class="o-forms-field{{#if isHidden}} n-ui-hide{{/if}}" data-validate="required">
	<span class="o-forms-title">
		<span class="o-forms-title__main">{{#if isBillingProvince}}Billing {{/if}}Province</span>
	</span>

	<span class="o-forms-input o-forms-input--select{{#if hasError}} o-forms-input--invalid{{/if}}">

		{{#ncf-common-data export='provinces' import='canadianProvinces.provinces' }}
		<select id="province" aria-required="true" required
			{{#if isBillingProvince}}
			name="billingProvince"
			{{else}}
			name="province"
			{{/if}}
			data-trackable="field-province"
			{{#if isDisabled}}disabled{{/if}}>

			<option disabled value="">Please select a province</option>
			{{#each provinces as |option|}}
			<option {{#ifEquals ../value option.code}} selected{{/ifEquals}} value="{{option.code}}">{{option.name}}</option>
			{{/each}}
		</select>
		{{/ncf-common-data}}
	</span>

	<span class="o-forms-input__error">Please select your province.</span>
</label>
