<div class="ncf ncf__wrapper">
	<div class="ncf__center">
		<div class="ncf__icon ncf__icon--tick ncf__icon--large"></div>
		<div class="ncf__paragraph">
			<h1 class="ncf__header ncf__header--confirmation">Welcome to FT.com</h1>
		</div>
	</div>

	<p class="ncf__paragraph">
		We've sent confirmation of your new account to {{#if email}}{{email}}{{else}}your email{{/if}}.
	</p>

	<div class="ncf__headed-paragraph">
		<h2 class="ncf__header">Something not right?</h2>
		<p class="ncf__paragraph">
			Go to your <a class="ncf__link ncf__link--external" href="https://myaccount.ft.com/details/core/view" target="_blank" rel="noopener" data-trackable="yourAccount">account settings</a> to view or edit
			your account. If you need to get in touch call us on <a href="tel:+442077556248" class="ncf__link ncf__link--external">+44 (0) 207 755 6248</a>. Or contact us for additional support.
		</p>
	</div>

	<p class="ncf__center">
		<a href="/products " class="ncf__button ncf__button--submit">See our subscription packages</a>
	</p>
</div>
