<div id="responsibilityField" class="o-forms o-forms--wide ncf__field js-field{{#if hasError}} o-forms--error{{/if}}" data-ui-item="select" data-ui-item-name="responsibility" data-validate="required">

	<label for="responsibility" class="o-forms__label">Which best describes your job responsibility?</label>

	{{#ncf-common-data import="demographics.responsibilities.responsibilities" export="options"}}

	<select id="responsibility" name="responsibility" class="o-forms__select js-field__input js-item__value" data-trackable="field-responsibility" aria-required="true" required>
		<option value>Please select a job responsibility</option>
		{{#each options as |option|}}
		<option value="{{option.code}}"{{#if ../value}}{{#ifEquals option.code ../value }} selected{{/ifEquals}}{{/if}}>{{option.description}}</option>
		{{/each}}
	</select>

	{{/ncf-common-data}}

	<div class="o-forms__errortext">Please select your responsibility</div>

</div>
