<label id="responsibilityField" class="o-forms-field ncf__validation-error" data-validate="required" for="responsibility">
	<span class="o-forms-title">
		<span class="o-forms-title__main">Which best describes your job responsibility?</span>
	</span>

	<span class="o-forms-input o-forms-input--select{{#if hasError}} o-forms-input--invalid{{/if}}">
		{{#ncf-common-data import="demographics.responsibilities.responsibilities" export="options"}}

		<select id="responsibility" name="responsibility"
				data-trackable="field-responsibility"
				aria-required="true" required
				{{#if isDisabled}}disabled{{/if}}>
			<option value>Please select a job responsibility</option>
			{{#each options as |option|}}
			<option {{#if ../value}}{{#ifEquals option.code ../value }} selected{{/ifEquals}}{{/if}}
				value="{{option.code}}">{{option.description}}</option>
			{{/each}}
		</select>

		{{/ncf-common-data}}
		<span class="o-forms-input__error">Please select your responsibility</span>
	</span>
</label>
