<label id="stateField" class="o-forms-field o-forms-field--wide{{#if isHidden}} n-ui-hide{{/if}}" data-validate="required">
	<span class="o-forms-title">
		<span class="o-forms-title__main">{{#if isBillingState}}Billing {{/if}}State</span>
	</span>

	{{#ncf-common-data export='states' import='americanStates.states' }}
	<span class="o-forms-input o-forms-input--select{{#if hasError}} o-forms-input--invalid{{/if}}">
		<select
			id="state"
			aria-required="true"
			required
			name="{{#if isBillingState}}billingState{{else}}state{{/if}}"
			{{#if isDisabled}}disabled{{/if}}
		>
			<option disabled selected value>Please select a state</option>
			{{#each states as |option|}}
			<option value="{{option.code}}" {{#ifEquals ../value option.code}} selected{{/ifEquals}}>{{option.name}}</option>
			{{/each}}
		</select>

		<span class="o-forms-input__error">Please select your state</span>
	</span>
	{{/ncf-common-data }}
</label>
