<div class="ncf__field{{#if isFullWidth}} ncf__field--full-width-buttons{{/if}}{{#if isCentered}} ncf__field--center{{/if}}{{#if backButtonUrl}} ncf__field--flex{{/if}}">

	{{#if backButtonUrl }}
	<a class="ncf__button" href="{{ backButtonUrl }}" target="_parent" data-trackable="link">{{#if backButtonText}}{{backButtonText}}{{else}}Back{{/if}}</a>
	{{/if}}

	<button id="{{#if id}}{{id}}{{else}}submitButton{{/if}}" class="ncf__button ncf__button--submit" data-trackable="submit" type="submit"{{#if isDisabled}} disabled{{/if}}>
		{{#if label}}{{label}}{{else}}Continue{{/if}}
	</button>

</div>
