@import 'o-normalise/main';
@import 'o-typography/main';
@import 'o-forms/main';
@import 'o-buttons/main';

@include oFormsBaseFeatures();
@include oFormsRadioCheckboxFeatures();
@include oFormsSuffixFeature();
@include oFormsWideFeature();

// Custom styles
.ncf {
	@include oTypographySans($scale: 0);

	&__fieldset {
		padding: 0;
		margin: 0;
		border: 0;
	}

	&__terms {
		@include oTypographySans($scale: 0);
		color: getColor('black-80');
	}

	&__header {
		@include oTypographyProductHeadingLevel5;
	}

	&__link--external {
		@include oTypographyLinkExternal;
	}

	&__submit {
		@include oButtons;
		@include oButtonsSize('big');
		@include oButtonsTheme('primary');
	}

	// Override o-forms padding set at certain screen sizes
	// This should be removed when Origami remove this from o-forms
	.o-forms {
		@include oGridRespondTo(S) {
			padding: 0;
		}
	}
}
