@import 'o-icons/main';
@import 'o-colors/main';
@import 'o-normalise/main';
@import 'o-typography/main';
@import 'o-forms/main';
@import 'o-buttons/main';
@import 'o-message/main';
@import "o-icons/main";

@include oFormsBaseFeatures();
@include oFormsRadioCheckboxFeatures();
@include oFormsSuffixFeature();
@include oFormsSectionFeature();
@include oFormsWideFeature();
@include oMessage($types: ('alert', 'notice-bleed'), $status: ('error', 'inform', 'success'));

// Custom styles
.ncf {
	@include oTypographySans($scale: 0);

	&__wrapper {
		background: oColorsGetPaletteColor('white');
		padding: 50px;
	}

	&__fieldset {
		padding: 0;
		margin: 0 0 20px;
		border: 0;
	}

	&__field {
		&--center {
			text-align: center;
		}

		&--flex {
			display: flex;
			justify-content: space-between;
		}
	}

	&__terms {
		@include oTypographySans($scale: 0);
		color: oColorsGetPaletteColor('black-80');
	}

	&__header {
		@include oTypographyProductHeadingLevel5;
	}

	&__link--external {
		@include oTypographyLinkExternal;
	}

	&__button {
		@include oButtons;
		@include oButtonsSize('big');

		&--submit {
			@include oButtonsTheme('primary');
		}

		&--mono {
			@include oButtonsSize('default');
			@include oButtonsTheme('mono');
		}

		&--google {
			@include oButtonsTheme('secondary');
			background-color: oColorsGetPaletteColor('white');
			padding-left: 40px;

			&::before {
				content: '';
				background: transparent url('https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2FG_active_focused_pressed.svg?source=m-login&width=20&height=20&format=svg') no-repeat;
				position: absolute;
				left: 10px;
				width: 18px;
				height: 18px;
			}
		}
	}

	&__package-change {
		text-align: center;
	}

	// NOTE: This is going to mostly get replaced with the official origami version when it's ready.
	&__progress {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		margin-top: 20px;
		position: relative;

		&::before {
			background: oColorsGetPaletteColor('black-40');
			content: '';
			display: block;
			height: 2px;
			left: 28px;
			position: absolute;
			top: 11px;
			width: calc(100% - 60px);
		}

		&__button {
			border: 0;
			background: none;
			cursor: pointer;
			position: relative;
		}

		&__icon {
			background: oColorsGetPaletteColor('paper');
			border: 2px solid oColorsGetPaletteColor('black-40');
			border-radius: 9999px;
			display: block;
			height: 20px;
			margin: 0 auto;
			width: 20px;
		}

		&__label {
			@include oTypographySans($scale: -1);

			display: inline-block;
			margin-top: 10px;
		}

		&__item {
			position: relative;

			&--current {
				.ncf__progress__icon {
					border-color: oColorsGetPaletteColor('black');
					&::before {
						background: oColorsGetPaletteColor('black');
						border-radius: 9999px;
						content: '';
						display: block;
						width: 14px;
						height: 14px;
						margin: 3px 0 0 3px;
					}
				}
			}
			&--complete {
				.ncf__progress__icon {
					background: oColorsGetPaletteColor('black');
					border-color: oColorsGetPaletteColor('black');
					&::before {
						@include oIconsGetIcon('tick', oColorsGetPaletteColor('paper'), 20);
						content: '';
						color: oColorsGetPaletteColor('paper');
					}
				}
				.ncf__progress__label {
					position: relative;
					text-decoration: underline;

					&::after {
						@include oIconsGetIcon('edit', oColorsGetPaletteColor('black'), 20);
						content: '';
						position: absolute;
						top: -2px;
					}
				}
			}
		}
	}

	// Override o-forms padding set at certain screen sizes
	// This should be removed when Origami remove this from o-forms
	.o-forms {
		@include oGridRespondTo(S) {
			padding: 0;
		}
	}
}
