@import 'o-icons/main';
@import 'o-colors/main';
@import 'o-normalise/main';
@import 'o-typography/main';
@import 'o-forms/main';
@import 'o-buttons/main';
@import 'o-message/main';
@import 'o-icons/main';
@import 'o-stepped-progress/main';
@import './styles/payment';
@import './styles/payment-term';
@import './styles/debug';

@include oFormsBaseFeatures();
@include oFormsRadioCheckboxFeatures();
@include oFormsRadioButtonsStyledFeature();
@include oFormsSuffixFeature();
@include oFormsSectionFeature();
@include oFormsWideFeature();
@include oMessage();
@include oFormsRadioCheckboxRightModifier();
@include oSteppedProgress();

// Custom styles
.ncf {
	@include oTypographySans($scale: 0);

	&__wrapper {
		background: oColorsGetPaletteColor('white');
		padding: 50px;
	}

	&__fieldset {
		border: 0;
		margin: 0 0 20px;
		min-inline-size: auto;
		padding: 0;
	}

	&__field {
		&--center {
			text-align: center;
		}

		&--flex {
			display: flex;
			justify-content: space-between;
		}
	}

	&__terms {
		@include oTypographySans($scale: 0);
		color: oColorsGetPaletteColor('black-80');
	}

	&__header {
		@include oTypographyProductHeadingLevel5;

		&--confirmation {
			@include oTypographySerif($scale: 4);
		}
	}

	&__link--external {
		@include oTypographyLinkExternal;
	}

	&__button {
		@include oButtons;
		@include oButtonsSize('big');

		&--submit {
			@include oButtonsTheme('primary');
		}

		&--mono {
			@include oButtonsSize('default');
			@include oButtonsTheme('mono');
		}

		&--secondary {
			@include oButtonsTheme('secondary');
		}

		&--full-width {
			display: block;
			width: 100%;
			margin: 0 0 10px;
		}

		&--google {
			@include oButtonsTheme('secondary');
			background-color: oColorsGetPaletteColor('white');
			padding-left: 40px;

			&::before {
				content: '';
				background: transparent url('https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2FG_active_focused_pressed.svg?source=m-login&width=20&height=20&format=svg') no-repeat;
				position: absolute;
				left: 10px;
				width: 18px;
				height: 18px;
			}
		}
	}

	&__center {
		text-align: center;
	}

	&__icon {
		background: oColorsGetPaletteColor('paper');
		border: 2px solid oColorsGetPaletteColor('black-40');
		border-radius: 9999px;
		display: block;
		height: 20px;
		margin: 0 auto;
		width: 20px;
	}

	&__icon--tick {
		background: oColorsGetPaletteColor('teal');
		border-color: oColorsGetPaletteColor('teal');
		&::before {
			@include oIconsGetIcon('tick', oColorsGetPaletteColor('white'), 20);
			content: '';
			color: oColorsGetPaletteColor('white');
		}
	}

	&__icon--inline-edit {
		@include oIconsGetIcon('edit', oColorsGetPaletteColor('black'), 20);
		border: 0;
		vertical-align: middle;
	}

	&__icon--large {
		width: 40px;
		height: 40px;
		&::before {
			width: 40px;
			height: 40px;
		}
	}

	&__list {

		&-title,
		&-data {
			width: calc(50% - 10px);
			margin: 8px 0;
			display: inline-block;
			vertical-align: middle;
		}

		&-title {
			font-weight: bold;
		}
	}

	&__message {
		p + p {
			margin-top: 0;
		}
	}

	@include ncfPaymentTerm();

	@include ncfPaymentApplePay();

	@include ncfDebug();

	.o-normalise-visually-hidden {
		@include oNormaliseVisuallyHidden;
	}

	// Override o-forms padding set at certain screen sizes
	// This should be removed when Origami remove this from o-forms
	.o-forms {
		@include oGridRespondTo(S) {
			padding: 0;
		}
	}
}
