<div id="acceptTermsField" class="o-forms o-forms--wide ncf__field js-field{{#if hasError}} o-forms--error{{/if}}" data-ui-item="multi" data-ui-item-name="acceptTerms" data-validate="required,checked" {{#if isSignup}}data-trackable="sign-up-terms"{{/if}}{{#if isRegister}}data-trackable="register-up-terms"{{/if}}>

	<input type="checkbox" id="termsAcceptance" name="termsAcceptance" value="true" class="o-forms__checkbox js-item__value js-field__input" data-trackable="field-terms" aria-required="true" required>

	<label for="termsAcceptance" class="o-forms__label ncf__terms">
		<p id="terms-default">
			I confirm I am {{#if offer.ageRestriction}}{{offer.ageRestriction}}{{else}}16{{/if}} years or older and have read and agree to the
			<a class="ncf__link--external" href="http://help.ft.com/help/legal-privacy/terms-conditions/" target="{{#if isEmbedded}}_top{{else}}_blank{{/if}}" rel="noopener" data-trackable="terms-and-conditions">Terms &amp; Conditions</a>
		</p>

		{{#if isSignup}}
			{{#if offer.isPrintProduct}}
		<p id="terms-print">Savings quoted based on Financial Times’ weekly cover price and FT.com’s equivalent weekly price where applicable. Offer open to new individual customers only and is only available in the UK. Only 1 subscription available per customer. Subscriptions are non-refundable and cannot be transferred or resold. Credit for suspensions is only available for hand-delivered subscriptions and is limited to a maximum of 24 issues per yearly subscription term (4 issues per yearly FT Weekend subscription term). Vouchers to redeem subscriptions may not be purchased by retailers of the Financial Times. Your subscription lasts for <span class="tc-term">{{requestedTerm}}</span>. To give you uninterrupted access we will automatically renew it using the payment method you provided, unless you cancel before your renewal date.</p>
			{{else}}
		<p id="terms-signup">&dagger; Your subscription lasts for <span class="tc-term">{{requestedTerm}}</span>. To give you uninterrupted access we will automatically renew it using the payment method you provided, unless you cancel before your renewal date.</p>
			{{/if}}
		<p id="terms-cancellation">Find out more about our cancellation policy in our <a class="ncf__link--external" href="http://help.ft.com/help/legal-privacy/terms-conditions/" target="{{#if isEmbedded}}_top{{else}}_blank{{/if}}" rel="noopener">Terms &amp; Conditions</a></p>
			{{#if offer.hasSpecialTerms}}
		<p id="terms-special">{{offer.specialTerms}}</p>
			{{/if}}
		{{/if}}
	</label>

	<div class="o-forms__errortext">Please accept our terms &amp; conditions</div>

</div>
