<div id="lastNameField" class="o-forms o-forms--wide ncf__field js-field" data-ui-item="form-field" data-ui-item-name="lastName" data-validate="required">

	<label for="lastName" class="o-forms__label">Last Name</label>

	<input type="text" id="lastName" name="lastName" value="{{value}}" placeholder="Last name" class="o-forms__text js-field__input js-item__value" data-trackable="field-lastname" aria-describedby="lastname-description" aria-required="true" required>

	<div class="o-forms__errortext" id="lastname-description">Please enter your last name</div>

</div>
