<div id="responsibilityField" class="o-forms o-forms--wide ncf__field js-field" data-ui-item="select" data-ui-item-name="responsibility" data-validate="required">

	<label for="responsibility" class="o-forms__label">Which best describes your job responsibility?</label>

	<select id="responsibility" name="responsibility" class="o-forms__select js-field__input js-item__value" data-trackable="field-responsibility" aria-required="true" required>
		{{#each options as |option|}}
		<option value="{{option.value}}"{{#if ../value}}{{#ifEquals option.value ../value }} selected{{/ifEquals}}{{else}}{{#if option.isSelected}} selected{{/if}}{{/if}}>{{option.label}}</option>
		{{/each}}
	</select>

	<div class="o-forms__errortext">Please select your responsibility</div>

</div>
