<div id="firstNameField" class="o-forms o-forms--wide su-field js-field" data-ui-item="form-field" data-ui-item-name="firstName" data-validate="required">

	<label for="firstName" class="o-forms__label">First Name</label>

	<input type="text" id="firstName" name="firstName" value="{{value}}" placeholder="First name" class="o-forms__text js-field__input js-item__value" data-trackable="field-name" aria-describedby="firstname-description" aria-required="true" required>

	<div class="o-forms__errortext" id="firstname-description">Please enter your first name</div>

</div>
