<fieldset name="terms-and-conditions" id="termsFieldset" class="su-form__fieldset js-unknown-user-field" data-ui-item="" data-ui-item-name="termsFieldset">

	<legend class="o-normalise-visually-hidden">Terms and conditions</legend>
	<div class="su-header">
		<h2 aria-hidden="true">Terms and conditions</h2>
	</div>

	{{> ../field/accept-terms
		isRegister=isRegister
		isSignup=isSignup
		hasConsent=hasConsent
		requestedTerm=requestedTerm
		offer=offer
	}}

	{{#unless hasConsent}}
	{{> ../field/marketing }}
	{{/unless}}

</fieldset>
