<div class="o-layout o-layout--docs" data-o-component="o-layout">
	<div class="o-layout__header">
		<header class="o-header-services" data-o-component="o-header-services">
			<div class="o-header-services__top">
				<div class="o-header-services__logo"></div>

				<div class="o-header-services__title">
					<span class="o-header-services__product-name"
						><a href="/">n-conversion-forms</a></span
					>
				</div>
			</div>
		</header>
	</div>

	<div class="o-layout__sidebar o-layout-typography">
		<ul>
			{{#each partials}}
			<li>
				<a href="#{{name}}">{{name}}</a>
			</li>
			{{/each}}
		</ul>
	</div>

	<div class="o-layout__main o-layout-typography">
		<h1>Demos</h1>
		{{#each partials }}
		<h2 id="{{name}}">
			<a href="/partial/{{name}}" target="_blank">{{name}}</a>
		</h2>
		<iframe class="demo__iframe" src="/partial/{{name}}"></iframe>
		<br /><br />
		{{/each}}
	</div>
</div>
