<div id="optInToMarketingField" class="o-forms o-forms--wide su-field js-field" data-ui-item="multi" data-ui-item-name="optInToMarketing">

	<input type="checkbox" id="optInToMarketing" name="optInToMarketing" value="true" class="o-forms__checkbox js-item__value" data-trackable="field-marketing" checked>

	<label for="optInToMarketing" class="o-forms__label o-forms__terms">
		<p>By submitting this form, you indicate your consent to also being contacted by Financial Times by email, post or phone about our other products, services or special offers unless you untick this box.</p>
		<p>You can change your preferences anytime in the My Account section.</p>
	</label>

</div>
