$system-code: 'n-conversion-forms-demo';
$o-brand: 'internal';
@import 'o-layout/main';
@import 'o-header-services/main';

@include oLayout();
@include oHeaderServices();

body {
	margin: 0;
}

.n-ui-hide { display: none; }

.demo {
	&__iframe {
		width: 100%;
		height: 100%;
	}
}

#demo-page-loader {
	#example-code {
		position: relative;
		z-index: 1001;
	}
}
