@mixin bigRadioButton($className) {
	.o-forms-input--radio-round .o-forms-input__label {
		box-sizing: border-box;
		padding: 14px 20px;
		min-height: 110px;
		border: 2px solid oColorsByName('teal');
		text-align: left;
		width: 100%;

		// radio button styling
		&::before {
			border: 2px solid oColorsByName('teal');
			left: auto;
			top: 43px;
			right: 14px;
		}

		&::after {
			left: auto;
			top: 43px;
			right: 14px;
		}
	}

	/* stylelint-disable-next-line */
	.o-forms-input--radio-round input[type=radio]:checked + .o-forms-input__label {
		background-color: oColorsByName('teal');
		color: oColorsByName('white');

		// radio button styling
		&::before {
			border: 2px solid oColorsByName('white');
		}

		&::after {
			background-color: oColorsByName('white');
		}
	}

	#{$className}__item--discount {
		margin-top: 26px;
	}

	#{$className}__title {
		font-weight: oFontsWeight('semibold');
		@include oTypographySans($scale: 2);
	}

	#{$className}__description {
		padding-top: 14px;
	}
}
