@import 'o-expander/main';

@mixin ncfCustomerCarePanel() {

	@include oGridRespondTo($until: M) {

		&__customer-care {
			background: oColorsGetPaletteColor('teal');
			color: oColorsGetPaletteColor('white');
		}

		&__customer-care &__icon {
			background: oColorsGetPaletteColor('white');
			border-color: oColorsGetPaletteColor('white');
			&::before {
				@include oIconsGetIcon('phone', oColorsGetPaletteColor('teal'), 40);
				color: oColorsGetPaletteColor('teal');
			}
		}

		&__customer-care &__link {
			color: oColorsGetPaletteColor('white');
		}

	}

}
