@import 'o-expander/main';

@mixin ncfCustomerCarePanel() {

	@include oGridRespondTo($until: M) {

		&__customer-care {
			background: oColorsGetPaletteColor('teal');
			color: oColorsGetPaletteColor('white');
		}

		&__customer-care &__icon {
			background: oColorsGetPaletteColor('white');
			border-color: oColorsGetPaletteColor('white');
			&::before {
				@include oIconsGetIcon('phone', oColorsGetPaletteColor('teal'), 40);
				color: oColorsGetPaletteColor('teal');
			}
		}

		&__customer-care &__link {
			color: oColorsGetPaletteColor('white');
		}

	}

	&__customer-care {
		&__phone {
			margin-bottom: 0;
		}

		&--compact {
			padding-bottom: 15px;
			padding-top: 15px;

			.ncf__icon--phone {
				display: none;
			}
			.ncf__customer-care__phone {
				margin-bottom: 1em;
			}
			.ncf__paragraph {
				padding: 0;
			}
		}
	}

}
