@import 'o-labels/main';

@mixin ncfDebug() {
	&__debug-panel {
		position: absolute;
		background-color: #262a33;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 10px;
	}

	&__debug-environment {
		color: #ffffff;
		margin-bottom: 10px;
	}

	// oLabels does not allow you to pass your own classes
	@include oLabels($opts: ('sizes': ('big')));

	.o-labels--big.o-labels--test {
		background-color: #008040;
		color: #ffffff;
	}

	.o-labels--big.o-labels--premium {
		background-color: #990000;
		color: #ffffff;
	}

	&__debug-button {
		@include oButtons;
		@include oButtonsSize('big');
		@include oButtonsTheme('inverse');
	}
}
