/* stylelint-disable selector-no-qualifying-type */
@import 'o-loading/main';

@mixin ncfLoader() {
	&__loader {
		background-color: rgba(0, 0, 0, 0.75);
		bottom: 0;
		height: 100vh;
		left: 0;
		position: fixed;
		right: 0;
		text-align: center;
		top: 0;
		z-index: 1000;
		align-items: center;
		justify-content: center;

		&--element {
			height: auto;
			position: absolute;
			// Hack to cover all input fields
			right: -1px;
		}

		&.is-visible {
			display: flex;
		}

		&__content {
			@include oTypographySans($scale: -1);
			color: oColorsGetPaletteColor('white');

			&::before {
				@include oLoadingContent($opts: (
					'theme': 'light',
					'size': 'large'
				));


				content: '';
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				margin-bottom: 20px;
			}

			&__title {
				@include oTypographySize($scale: 2);
				// No semi-bold so doing it manually.
				font-weight: 500;
			}
		}
	}
}
