@include oGridGenerate;

@mixin ncfPackageChange() {
	&__package-change {
		@include oTypographySans($scale: 0);
		background-color: oColorsGetPaletteColor('wheat');
		padding: 0 20px;

		@include oGridRespondTo($from: S) {
			padding: 0;
		}

		&__package {
			display: grid;
			grid-template-columns: 1fr min-content;
			align-items: center;
		}

		&__terms {
			margin-bottom: 20px;
		}

		&__term {
			padding: 4px 0;
			display: grid;
			grid-template-columns: max-content 1fr;
			&--discounted {
				grid-template-columns: max-content max-content 1fr;
			}
		}

		&__title {
			font-weight: oFontsWeight('semibold');
			padding-right: 10px;
		}

		&__description {
			justify-self: end;
		}

		&__discount {
			color: oColorsGetPaletteColor('claret-70');
		}

		&__weekly-price {
			justify-self: end;
			grid-column: span 3;
			@include oTypographySize($scale: -1);
			color: oColorsGetPaletteColor('black-60');
		}

		&__annual-copy {
			padding-top: 8px;
			@include oTypographySize($scale: -1);
		}
	}
}
