@import 'o-expander/main';

@include oExpander();

@mixin buttonImageOverriding() {
	color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60px;
}

@mixin ncfPaymentType() {
	// #1 - Need to be this specific to override specific o-forms styles.
	//      Helps us override the floating of the radio box so that we can have it
	//      full width.
	// #2 - Need to be this specific to override specific o-forms styles.
	//      Helps us override the text colour (via buttonImageOverriding()) so
	//      that it is transparent.
	&__payment-type {
		.o-forms-field .o-forms-input--radio-box & {
			// #1
			display: block;
			margin-bottom: oSpacingByName('s3');

			&:last-child {
				margin-bottom: 0;
			}

			label {
				float: none;
				width: 100%;
			}
		}

		&-selector {
			margin-top: 0;
		}

		.o-forms-input--radio-box &--paypal {
			// #2
			[type='radio'] + .o-forms-input__label {
				@include buttonImageOverriding();
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/%2F%2Fwww.ft.com%2Fassets%2Fthird-party%2Fpp-logo-100px.png?width=300&source=next&fit=scale-down);
			}

			[type='radio']:checked + .o-forms-input__label {
				@include buttonImageOverriding();
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/%2F%2Fwww.ft.com%2Fassets%2Fthird-party%2Fpp-logo-white.png?width=300&source=next&fit=scale-down);
			}
		}

		.o-forms-input--radio-box &--directdebit {
			// #2
			[type='radio'] + .o-forms-input__label {
				@include buttonImageOverriding();
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/%2F%2Fwww.ft.com%2Fassets%2Fthird-party%2Fdirect_debit.png?width=300&source=next&fit=scale-down);
			}

			[type='radio']:checked + .o-forms-input__label {
				@include buttonImageOverriding();
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/%2F%2Fwww.ft.com%2Fassets%2Fthird-party%2Fdirect_debit-white.png?width=300&source=next&fit=scale-down);
			}
		}
	}

	&__directdebit-guarantee {
		@include oTypographySans($scale: -1);
		text-align: center;

		&-list {
			text-align: left;
		}

		&-toggle {
			color: oColorsByName('teal');
		}
	}

	&__zuora-payment {
		margin-top: 15px;
		position: relative;
		z-index: 2;
		// Minimum height of a payment iframe to stop page jumping
		min-height: 385px;

		&-overlay {
			background-color: rgba(0, 0, 0, 0.15);
			bottom: 0;
			height: 100vh;
			left: 0;
			position: fixed;
			right: 0;
			text-align: center;
			top: 0;
			z-index: 1;
		}
	}

	&__security-seal {
		table {
			margin: 0 auto;
		}
		a {
			border: 0;
		}
	}
}
