@import 'o-expander/main';

@mixin buttonImageOverriding() {
	color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60px;
}

@mixin ncfPaymentType() {
	&__payment-type {
		grid-row: 1;
		padding: oTypographySpacingSize(2) 0;

		img {
			height: 15px;
		}

		label {
			height: 15px;
			width: calc(100% - 5px);
		}

		&-selector {
			display: inline-block;
			width: 100%;
		}

		&--paypal {
			.o-forms__label {
				@include buttonImageOverriding();
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/%2F%2Fwww.ft.com%2Fassets%2Fthird-party%2Fpp-logo-100px.png?width=300&source=next&fit=scale-down);
			}

			.o-forms__radio-button:checked + .o-forms__label {
				@include buttonImageOverriding();
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/%2F%2Fwww.ft.com%2Fassets%2Fthird-party%2Fpp-logo-white.png?width=300&source=next&fit=scale-down);
			}
		}

		&--directdebit {
			.o-forms__label {
				@include buttonImageOverriding();
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/%2F%2Fwww.ft.com%2Fassets%2Fthird-party%2Fdirect_debit.png?width=300&source=next&fit=scale-down);
			}

			.o-forms__radio-button:checked + .o-forms__label {
				@include buttonImageOverriding();
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/%2F%2Fwww.ft.com%2Fassets%2Fthird-party%2Fdirect_debit-white.png?width=300&source=next&fit=scale-down);
			}
		}
	}

	&__directdebit-guarantee {
		@include oTypographySans($scale: -1);
		text-align: center;

		&-list {
			@include oExpanderContent;
			text-align: left;
		}

		&-toggle {
			@include oExpanderToggle;
			color: oColorsGetPaletteColor('teal');
		}
	}

	&__zuora-payment {
		margin-top: 15px;
		position: relative;
		z-index: 2;

		&-overlay {
			background-color: rgba(0, 0, 0, 0.15);
			bottom: 0;
			height: 100vh;
			left: 0;
			position: fixed;
			right: 0;
			text-align: center;
			top: 0;
			z-index: 1;
		}
	}

	&__security-seal {
		table {
			margin: 0 auto;
		}
		a {
			border: 0;
		}
	}
}
