@import './shared';

@mixin ncfPaymentTerm() {
	@include bigRadioButton($className: '.ncf__payment-term');
	&__payment-term {
		&__item {
			position: relative;
			margin-bottom: oSpacingByName('s3');
		}
		&:last-child {
			margin-bottom: 0;
		}
		&__discount {
			background-color: oColorsByName('claret-60');
			color: oColorsByName('white');
			position: absolute;
			padding: 6px 16px;
			right: -11px;
			top: -17px;
			@include oTypographySans($scale: -1, $include-font-family: false);

			&::after {
				content: '';
				width: 0;
				height: 0;
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				border-right: 6px solid oColorsByName('claret-50');
				transform: rotate(45deg);
				position: absolute;
				bottom: -8px;
				right: 4px;
			}
		}

		&__legal {
			margin: 20px 0;
		}

		&__equivalent-price {
			@include oTypographySans($scale: -1, $include-font-family: false);
			display: block;
		}

		&__monthly-price {
			font-weight: oFontsWeight('semibold');
		}

		&__renews-text {
			@include oTypographySans($scale: -2, $include-font-family: false);
			margin-bottom: 0;
		}
	}
}
